@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  filter: invert(1) hue-rotate(180deg);
  background-color: rgb(255, 255, 255);
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Buttons */

#apply-config {
  background:rgb(26, 214, 42);
}

.big-button {
  width: 250px; 
  height: 50px; 
  font-size: x-large;
}

h2 {
  display: inline;
}